<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <connectionStrings>
    <add name="PropertySetDbContext" providerName="System.Data.SqlClient" connectionString="Server=localhost; Database=Workflow; Integrated Security=SSPI;" />
    <add name="ProcessDbContext" providerName="System.Data.SqlClient" connectionString="Server=localhost; Database=Workflow; Integrated Security=SSPI;" />
  </connectionStrings>
 <appSettings>
   <add key="mongoconn" value="mongodb://qa_user:Lond0n@documentdb-uat.awacgbl.com:40000" />
   <add key="mongodb" value="Workflow_QA" />
 </appSettings>
  <castle>
    <components>
      <component id="IProcessDefinitionPersisnenceService" service="KlaudWerk.ProcessEngine.Persistence.IProcessDefinitionPersisnenceService, ProcessEngine" type="Klaudwerk.ProcessEngine.Persistence.Mongo.MongoProcessDefinitionPersistenceService, ProcessEngine.Persistence.Mongo">
        <parameters>
          <!--<url>mongodb://qa_user:Lond0n@documentdb-uat.awacgbl.com:40000</url>-->
          <url>mongodb://awacworkflow:3tBpIKWNTjLXw7BecnRmkTagO00s8g31Hh9GYdpoGqWIVjCOzuTAJ34p9MqMIyP6xLxwT6OKm51LKGPnsRR3fg==@awacworkflow.documents.azure.com:10250/?ssl=true&amp;sslverifycertificate=false</url>
          <database>Workflow_QA</database>
        </parameters>
      </component>
    </components>
  </castle>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>